<!--
  Libanius-Android
  Copyright (C) 2012-2014 James McCabe <james@oranda.com>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oranda.libanius"
    android:debuggable="false">

    <application android:name="com.oranda.libanius.dependencies.AppDependenciesOverride"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:debuggable="false">

        <activity android:label="@string/app_name" android:name=".QuizScreen"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait" 
                  android:alwaysRetainTaskState="true"
                  android:windowSoftInputMode="stateHidden"
                  android:theme="@android:style/Theme.NoTitleBar"
                  />
        <activity android:label="@string/app_name" android:name=".OptionsScreen"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="14"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>

